.app-container {
  margin: 2rem;
}

h2 {
  text-align: center;
  color: #243447;
}

.select-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 10px;
  text-align: center;
  gap: 1rem;
}
#array-display {
  display: flex;

}

.data-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

/* Style the form - display items horizontally */
.form-inline {
  display: grid;
  grid-template-columns: auto auto;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #E5E4E2;
  color: black;
  border-radius: 10px;
  width: 20rem;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: #243446;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: #243447;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#select-team {
  width: 9rem;
}

#stats-data {
  display: grid;
  grid-template-columns: auto auto;
}

#btn-container {
  padding-left: 8rem;
}